@page "/"

<div class="card text-center">
    <div class="card-header">
        BLAZOR FRONTEND 2021
    </div>
    <div class="card-body">
        <h5 class="card-title"><b>Hello, Roitonia Panjaitan!</b></h5>
        <p class="card-text">Life is a journey to be experienced, not a problem to be solved</p>
        <p class="card-text">We will never know the real answer before we try</p>
    </div>
    <div class="card-footer text-muted">
        Universitas Kristen Duta Wacana Yogyakarta <th>Fakultas Teknologi Informasi</th>
    </div>
</div>
